.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
    width: 100%;
    justify-content: center;
    padding: 15px 70px;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border-bottom:1px solid rgba(22, 38, 187, 0.21);


    .logo_container{
     justify-self: start;  
        .logo{
            width: 155px;
            height: 30.51px;
            align-self: center;
        }
    }

    .links{
        justify-self: end;
        .link{
            text-decoration: none;
            padding: 0 20px;
            font-family: 'Syne', sans-serif;
            font-size: 17px;
            color: #3A3A3A;
            width: fit-content;
            font-weight: 500;
          
            &:hover{
                color: #01cda9;
            }
        }
    }
}