.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70px;
    width: 100%;
    justify-content: center;
    padding: 15px 70px;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border-bottom:1px solid rgba(22, 38, 187, 0.21);
    align-items: center;


    .logo_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-self: start;  
        gap: 6rem;
           .logo{
            display: block;
            max-width:230px;
            max-height:95px;
            width: auto;
            height: auto;
            align-self: center;
        }

        .text{
            font-family: 'Syne';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 24px;
            color: #01CDA9;
        }
    }

    .links{
        justify-self: end;
        .link{
            text-decoration: none;
            padding: 0 20px;
            font-family: 'Syne', sans-serif;
            font-size: 17px;
            color: #3A3A3A;
            width: fit-content;
            font-weight: 500;
          
            &:hover{
                color: #01cda9;
            }
        }
    }
}