.withdraw{
    width: 500px;
    height: fit-content;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .title{
        font-family: 'Syne';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        color: #3A3A3A;
        padding-bottom: 2rem;
    }

    .form{
        padding-bottom: 2rem;
    }
}