.settings_page{
    width: 100%;
    background: #e7f0f3;
    display: grid;
    justify-content: center;


    .settings_container{
        width: 831px;
        height: 725px;
        background: #fff;
        padding: 60px;
        height:65rem ;
        margin: 4rem;
        border-radius: 10px;
        box-shadow: 5px 4px 20px rgba(0,0,0,0.1);

        .subtitle{
            font-family: 'Syne';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 17px;
            /* identical to box height */

            text-align: left;

            color: #3A3A3A;
            border-bottom: 1px solid #01CDA9;

        }


        .security{
            display: grid;
            gap: 1rem;
            margin-top: 1rem;
            margin-bottom: 3rem;

            .security_action{
                display: grid;
                grid-template-columns: 5% 75% 20%;
               


                .icon{
                    width: 20px;
                    height: 20px;
                    color: #01CDA9;
                }

                .text{
                    font-family: 'Syne';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;

                    color: #3A3A3A;

                }
            }
        }
        
        .display_container{
            display: grid;
            gap: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            

            .display_action{
                display: grid;
                grid-template-columns: 5% 75% 20%;
               


                .icon{
                    width: 20px;
                    height: 20px;
                    color: #01CDA9;
                }

                .text{
                    font-family: 'Syne';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;

                    color: #3A3A3A;

                }
            }

        }
    }

}