.dashboard{
    height: 100vh;

    
  .dashboard_content{
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;

    .navigation{
      position: sticky;
      top: 0px;
      left: 0;
      width: 100%;
    }

    .flow{
      overflow-y: scroll;
      background-color: #e7f0f3;
    }
}  
}

@media screen and (max-width:1024px) {

      .dashboard_content{
        display: flex;
        width: 100vw;

        .navigation{
          display: none;
      }

        // .flow{
        //   width: 100vw;
        // }

      }

  }

