.dashboard{
    height: 100vh;

    .header{
      display: none;
    }
  .dashboard_content{
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;
    
    .navigation{
      position: sticky;
      top: 0px;
      left: 0;
      width: 100%;
    }

    .flow{
      overflow-y: scroll;
      background-color: #e7f0f3;
    }
}  
}

@media screen and (max-width: 1024px) {
  
.dashboard{
  .header{
    display: flex;
    width: 100vw;
    height: 52px;
    background: #2F2F2F;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 1rem;
    align-items: center;

    .nav_icon{
      width: 50px;
      height: 30px;
      outline: none;
      color: #01CDA9;
    }

    .logo{
      width: 170px;
      object-fit: cover;
    }
  }

  .dashboard_content{
    display: flex;
    width: 100vw;
    
    .navigation{
      display: none;
      width: 250px;
      transform: translateX(-300px);
      transition: 2s;
  
    }
    .responsive_nav{
      display: block;
      position: fixed;
      transform: none;
      right: 0;
      transition: 2s;
    }
  }
}
    
}